
/*------------------------------------------------------------------------------------------*/
/* 1. Defaults & Reset of specific styles across browsers */
/*------------------------------------------------------------------------------------------*/
/*OpenSans regular */
 
@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*OpenSans Light*/

@font-face {
  font-family: "OpenSans-Light";
  src: url("./fonts/OpenSans-Light.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Light.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Light.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("./fonts/OpenSans-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*OpenSans italic */
 
@font-face {
  font-family: "OpenSans-Italic";
  src: url("./fonts/OpenSans-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Italic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*OpenSans bold */
 
@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/OpenSans-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("./fonts/OpenSans-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("./fonts/OpenSans-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("./fonts/OpenSans-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./fonts/OpenSans-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("./fonts/OpenSans-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}



*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, blockquote, th, td {
    margin: 0;
    padding: 0;
    direction: ltr;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

p {
    line-height: 25px;
}

.row img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}

iframe {
    border: 0 !important;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

figure {
    margin: 0;
}


/* Page Border */

.page-border {
    position: fixed;
    z-index: 999999;
    pointer-events: none;
}

.page-border .bottom-border, .page-border .left-border, .page-border .right-border, .page-border .top-border {
    background: #f3f3ef;
    position: fixed;
    z-index: 9999;
}

.page-border > .top-border, .page-border > .right-border, .page-border > .bottom-border, .page-border > .left-border {
    padding: 11px;
    background: #ccc;
}

.page-border .bottom-border, .page-border .top-border {
    width: 100%;
    padding: 10px;
    left: 0;
}

.page-border .left-border, .page-border .right-border {
    padding: 10px;
    height: 100%;
    top: 0;
}

.page-border .top-border {
    top: 0;
}

.page-border .right-border {
    right: 0;
}

.page-border .bottom-border {
    bottom: 0;
}

.page-border .left-border {
    left: 0;
}

#wrapper {
    margin:0 15px;
    padding: 15px 0;
    position: relative;
}


/* --------- 1.1 Input Elements ---------- */

input, textarea {
    border: 1px solid #e1e1e1;
    padding: 10px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 3px;
}

input {
    height: 40px;
    margin: 3px 0;
    outline: none;
    line-height: normal;
    font-size: 14px;
}

input[type="submit"] {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

select {
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 5px;
}

input:focus, textarea:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

*:focus {
    outline: none;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Layout Elements */
/*------------------------------------------------------------------------------------------*/

section {
    clear: both;
    overflow: hidden;
}

/* Rows and Columns */

.row {
    max-width: 1245px;
    margin: 0 auto;
    padding: 75px 0;
    position: relative;
}

.no-padding-bottom .row, .no-padding-bottom div, .no-padding-bottom.row {
    padding-bottom: 0;
}

.no-padding-top.row, .no-padding-top div {
    padding-top: 0;
}

.big-padding-top {
    padding-top: 75px !important;
}

.big-padding-bottom {
    padding-bottom: 85px !important;
}

/* Targets all elements */

[class*='col-'] {
    float: left;
    padding: 20px;
}

#projects .col-2-3 [class*='col-'] {
    padding: 0;
}

/* Clearfix */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.clearfix2:after {
    content: "";
    display: table;
    background-color: #0000;
    background: #0000;
}

/* Main Widths */

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 33.33%;
}

.col-4 {
    width: 25%;
}

.col-5 {
    width: 20%;
}

.col-6 {
    width: 16.6666666667%;
}

.col-7 {
    width: 14.2857142857%;
}

.col-8 {
    width: 12.5%;
}

.col-9 {
    width: 11.1111111111%;
}

.col-10 {
    width: 10%;
}

.col-11 {
    width: 9.09090909091%;
}

.col-12 {
    width: 8.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-3-4 {
    width: 75%;
}

.col-9-10 {
    width: 90%;
}

/* Golden Ratio */
.col-61 {
    width: 61.8%;
}

.col-38 {
    width: 38.2%;
}

/* --------- 2.1 Header --------- */

#header {
    height: 71px !important;
    overflow: visible;
    z-index: 9999;
    width: 100%;
    position: absolute !important;
}

#header .row {
    padding: 0;
}

#header aside {
    text-align: right;
}

#header ul {
    text-align: center;
}

#header li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

/* --------- 2.2 Logo ---------- */

#logo {
    float: left;
    height: 71px;
    line-height: 66px;
    margin-right: 15px;
}

#logo h1, #logo h2 {
    display: inline-block;
}

#banner #logo h1 {
    font-size: 28px;
    margin-right: 10px;
    font-weight: 900;
    padding: 0;
}

#logo h2 {
    font-size: 18px;
    padding: 0;
}

#logo img {
    max-height: 22px;
    vertical-align: middle;
    margin-right: 15px;
}

#navigation-logo {
    display: none;
}

.nav-solid #logo #banner-logo {
    display: none;
}

.nav-solid #logo #navigation-logo {
    display: inline-block;
}

/* --------- 2.3 Buttons ---------- */

.publication {
    padding: 35px 0 35px 0;
}

/*Style*/

.button {
    font-size: 16px;
    margin: 35px 0;
    padding: 16px 0 15px 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    display: inline-block;
    border-width: 3px;
    border-style: solid;

}



/* --------- 2.4 Navigation ---------- */

#header {
    font-size: 13px;
    background:#ffffff;
    opacity:0.97;
}

#header aside {
    float: right;
}

#header nav ul {
    text-transform: uppercase;

}

#header nav a {
    height: 71px;
    line-height: 71px;
    display: block;
    padding: 0 10px;
}

#header nav a:hover {
    opacity: 0.6;
}

/*Navigation Solid*/

#header.nav-solid [class*='col-'] {
    padding: 0 20px;
}

#header.nav-solid {
    background: #fff;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.2);
    position: fixed !important;
    left:0;
}

#header.nav-solid nav a {
    border-bottom: 3px solid;
    border-color: #fff;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#header.nav-solid nav a:hover {
    opacity: 1;
}

/* Social Elements when Solid*/

#header.nav-solid .social-icons a {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 0.5;
}

#header.nav-solid .social-icons a:hover {
    opacity: 1;
    color: #e4473c;
}

/* Responsive Nav Styling */

#nav-trigger {
    display: none;
    text-align: right;
}

#nav-trigger span {
    display: inline-block;
    width: 38px;
    height: 71px;
    color: #111;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#nav-trigger span:after {
    font-family: "fontAwesome";
    display: inline-block;
    width: 38px;
    height: 71px;
    line-height: 75px;
    text-align: center;
    content: "\f0c9";
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#nav-trigger span.open:after {
    content: "\f00d";
}

#nav-trigger span:hover, .nav-solid #nav-trigger span.open:hover, .nav-solid #nav-trigger span:hover {
    opacity: 0.6;
}

#nav-trigger span.open, #nav-trigger span.open:hover {
    color: #111;
}

.nav-solid #nav-trigger span.open:hover {
    color: #999;
}

.nav-solid #nav-trigger span {
    color: #999;
    opacity: 1;
}

nav#nav-mobile {
    position: relative;
    display: none;
}

nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
}

nav#nav-mobile ul:after {
    display: none;
}

nav#nav-mobile li {
    margin: 0 20px;
    float: none;
    text-align: left;
    border-bottom: 1px solid #e1e1e1;
}

nav#nav-mobile li:last-child {
    border-bottom: none;
}

.nav-solid nav#nav-mobile li {
    border-top: 1px solid #e1e1e1;
    border-bottom: none;
}

nav#nav-mobile a {
    display: block;
    padding: 12px 0;
    color: #333;
    width: 100%;
    height: auto;
    line-height: normal;
    display: block;
    border-bottom: none !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

nav#nav-mobile a:hover {
    background: #fafafa;
    opacity: 1;
}

/* --------- 2.5 Social Elements ---------- */

#header .col-4 {
    text-align: right;
}

.social-icons {
    display: inline-block;
    list-style: none;
}

.social-icons a {
    display: inline-block;
    width: 32px;
    text-align: center;

}

.social-icons a:hover {
    opacity: 0.7;
}

.social-icons span {
    display: none;
    
}

#header .social-icons {
    display: inline-block;
    margin-top: 20px;
}

/* --------- 2.6 Images ---------- */

/*Alignment*/

img {
    vertical-align: top;
}

.image-center {
    display: block;
    margin: 0 auto;
}

a img {
    border: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
}

a img:hover {
    opacity: 0.7;
}

/*------------------------------------------------------------------------------------------*/
/* 3. Fonts */
/*------------------------------------------------------------------------------------------*/

h1 {
    padding: 20px 0;
}

h2 {
    padding: 14px 0;
}

h3 {
    padding: 10px 0;
}

h4 {
    padding: 7px 0;
}

h5 {
    padding: 7px 0;
}

h6 {
    padding: 7px 0;
}

/* Text Alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Section Headings */

.section-heading {
    padding: 0 0 15px 0;
}

.section-subtitle {
    font-size: 18px;
    padding-top: 0;
}

.section-heading p{
    color: #4c4c4c;
}

.section-heading h2 {
    font-size: 20px;
    background-color: rgba(255,255,255,0.4);
    font-weight: bold;
    color: #1e1e1e;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.section-heading h3 {
    font-size: 14px;
    background-color: rgba(255,255,255,0.4);
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    padding-bottom: 0;
}

.section-heading img {
    max-height: 70px;
    vertical-align: middle;
    margin-right: 15px;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/

#banner {
    background-size: cover;
}

#banner-content.row {
    padding-top: 170px;
    padding-bottom: 100px;
}

#banner h1 {
    padding-top: 5%;
    padding-bottom: 0.1%;
}

#banner .section-heading:before {
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}



/*------------------------------------------------------------------------------------------*/
/* 5. Content Elements */
/*------------------------------------------------------------------------------------------*/

/* --------- 5.1 Icons ---------- */

/*Font Icon sizes*/

.fa-1x {
    font-size: 15px !important;
}

/*Icon Block*/

.icon-block {
    position: relative;
}

.icon-block h4 {
    font-weight: bold;
    padding-top: 0;
}

.icon-block .icon {
    position: absolute;
}

.icon-block p {
    margin-top: 0;
}

/* Icon Left*/

.icon-left .icon {
    left: 15;
}

.icon-left .icon-block-description {
    padding-left: 53px;
}

/* Icon Right */

.icon-right .icon {
    right: 15;
}

.icon-right .icon-block-description {
    padding-right: 53px;
}

/* Icon Above */

.icon-top {
    display: block;
}

.icon-top .icon {
    position: relative;
    display: block;
}

.icon-top .icon-block-description {
    padding-top: 25px;
}

/* --------- 5.2 Parallax Elements ---------- */

.banner-parallax-1, .banner-parallax-2, .banner-parallax-3 {
    min-height: 350px;
}

/* --------- 5.3 Divider ---------- */

.divider {
    position: relative;
    width: 40%;
    height: 20px;
    line-height: 20px;
    margin: 10px auto 5px auto;
    clear: both;
    text-align: center;
}

.divider-inner {
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    margin-top: -1px;
    border-top: 1px solid;
    border-color: #e1e1e1;
}

.divider i {
    background: #fff;
    position: relative;
    top: -11px;
    padding: 0 5px 0 5px;
    color: #e1e1e1;
}

/*------------------------------------------------------------------------------------------*/
/* 6. Landing Page Sections */
/*------------------------------------------------------------------------------------------*/

/* --------- 6.1 Introduction ---------- */

.introduction img.featured {
    padding: 55px 0 0 0;
}

/* --------- 6.2 Features ---------- */

.features.row {
    padding-left: 5%;
    padding-right: 5%;
}

.features div:nth-child(4) {
    clear: both;
}

/* --------- 6.3 principles ---------- */

.principles {
    padding: 15px;
}

blockquote {
    position: relative;
}

.principles img {
    max-height: 120px;
    border-radius: 250em;
}

.principles footer {
    padding-bottom: 15px;
    font-weight: bold;
}

/* Style Classic - Avatar above principles */

.principles.classic img {
    display: inline-block;
    margin-bottom: 25px;
}

.principles.classic p {
    display: block;
    
}


/* Style Big */

.principles.bigtest {
    padding-top: 0;
}

.principles.bigtest q {
    font-size: 22px;
}

/* --------- 6.4 Gallery ---------- */

#gallery img {
    max-height: 300px;
}

#gallery [class*='col-'] {
    padding: 0;
}

#gallery a {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

#gallery a:hover img {
    opacity: 0.15;
    -moz-backface-visibility: hidden;
}

#gallery a:before {
    font-size: 2.2em;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    color: #000;
    content: attr(href);
    width: 70px;
    height: 70px;
    border-radius: 100em;
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    line-height: 72px;
    margin: -35px 0 0 -75px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    vertical-align: middle;
}

#gallery a:hover:before {
    opacity: 1;
    top: 50%;
    left: 50%;
}

/*=================
    Caroussel
=================*/

/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
  max-width: 40em;
  margin: 1em auto;
  position: relative;
}

input {
  display: none;
}

.inner {
  width: 500%;
  line-height: 0;
}

article {
  width: 20%;
  float: left;
  position: relative;
}
article img {
  width: 100%;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}
.slider-prev-next-control label:hover {
  opacity: 1;
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-dot-control label:hover {
  background: #a5a5a5;
  border-color: #777;
}

/* Info Box */
.info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transition: all 1000ms ease-out 600ms;
  -moz-transition: all 1000ms ease-out 600ms;
  transition: all 1000ms ease-out 600ms;
}
.info h3 {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
}
.info p {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.0em;
  font-style: normal;
}
.info.top-left {
  top: 30px;
  left: 30px;
}
.info.top-right {
  top: 30px;
  right: 30px;
}
.info.bottom-left {
  bottom: 30px;
  left: 30px;
}
.info.bottom-right {
  bottom: 30px;
  right: 30px;
}

/* Slider Styling */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #666;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}
.slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked
~ .slider-prev-next-control
label:nth-child(5)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(1)::after {
  content: "\f105";
  padding-left: 15px;
}

#slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(1) {
  display: block;
  float: right;
  margin-right: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide1:checked
~ .slider-prev-next-control
label:nth-child(5) {
  display: block;
  float: left;
  margin-left: 5px;
}

#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide1:checked
~ .slider-prev-next-control
label:nth-child(5)::after {
  content: "\f104";
  padding-left: 8px;
}

#slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5) {
  background: #333;
}

#slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info {
  opacity: 1;
}

#slide1:checked ~ .slider-wrapper .inner {
  margin-left: 0%;
}

#slide2:checked ~ .slider-wrapper .inner {
  margin-left: -100%;
}

#slide3:checked ~ .slider-wrapper .inner {
  margin-left: -200%;
}

#slide4:checked ~ .slider-wrapper .inner {
  margin-left: -300%;
}

#slide5:checked ~ .slider-wrapper .inner {
  margin-left: -400%;
}

/*---- TABLET ----*/
@media only screen and (max-width: 850px) and (min-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }
}
/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .slider-wrapper {
    border-radius: 0;
  }

  .slider-wrapper .info {
    opacity: 0;
  }
}
@media only screen and (min-width: 850px) {
  body {
    padding: 0 80px;
  }
}

/* --------- 6.5 Video ---------- */

#video-box {
    color:#fff;
    position:relative;
    overflow:hidden;
    text-align:center;
}

.video_container, .easyContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    margin: 0;
    padding-top: 0; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video_container iframe, .video_container object, .video_container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


.videojs-background-wrap {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -998;
}

#slvj-window {
    width: 100%;
    min-height: 100%;
    z-index: 9999999999;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
}

#slvj-window,
#slvj-window * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#slvj-background-close {
    width: 100%;
    min-height: 100%;
    z-index: 31;
    position: fixed;
    top: 0;
    left: 0;
}


#slvj-close-icon:before {
    font-family: "fontawesome";
    color: #fff;
    content: '\f00d';
    font-size: 22px;
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    z-index: 99999;
    height: 22px;
    width: 22px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

#slvj-close-icon:before:hover {
    opacity: 1;
    cursor: pointer;
}

/* --------- 6.6 projects ---------- */

#projects a {
    display: block;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

#projects img {
    display: inline-block;
    padding: 15px 25px;
}

.projects-overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top;
    0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#projects a:hover .projects-overlay {
    opacity: 1;
}

.projects-overlay span {
    position: absolute;
    top: 48%;
    left: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

/* --------- 6.7 Contact ---------- */

.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}

.contact2-form {
  width: 100%;
}

.contact2-form h3 {
    font-size: 39px;
      display: block;
    background-color: rgba(255,255,255,0.4);
    font-weight: bold;
    color: #a5a5a5;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 1.5;
}


.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input2 {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
  
}

textarea.input2 {
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;

}

.has-val.input2 + .focus-input2::after {
  top: -13px;
  
}

.has-val.input2 + .focus-input2::before {
  width: 100%;

}

/*------ Button */
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}

.contact2-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 50px;
  font-size: 16px;
  color: #020202;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*---- Responsive */

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: right;
}

#landing-footer li {
    display: inline-block;
}

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#141414;
}

/* Scroll Up */

#scrollUp {
    bottom: 15px;
    right: 30px;
    width: 70px;
    height: 80px;
    margin-bottom: -10px;
    padding: 0 5px 20px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    -webkit-transition: margin-bottom 150ms linear;
    -moz-transition: margin-bottom 150ms linear;
    -o-transition: margin-bottom 150ms linear;
    transition: margin-bottom 150ms linear;
}

#scrollUp:hover {
    margin-bottom: 0;
}

#scrollUp:before {
    background: #ccc;
    font-family: "fontawesome";
    font-size: 2.4em;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    line-height: 45px;
    content: "\f106";
    opacity: 1;
}

/*Preloader*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 99999; /* makes sure it stays on top */
}

#status {
    width: 110px;
    height: 110px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-position: center;
    margin: -55px 0 0 -55px; /* is width and height divided by two */
    text-align: center;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-triangle-path,
.la-ball-triangle-path > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.la-ball-triangle-path {
    display: block;
    font-size: 0;
    color: #fff;
}

.la-ball-triangle-path.la-dark {
    color: #333;
}

.la-ball-triangle-path > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}

.la-ball-triangle-path {
    width: 32px;
    height: 32px;
}

.la-ball-triangle-path > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.la-ball-triangle-path > div:nth-child(1) {
    -webkit-animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
    -moz-animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
    -o-animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
    animation: ball-triangle-path-ball-one 2s 0s ease-in-out infinite;
}

.la-ball-triangle-path > div:nth-child(2) {
    -webkit-animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
    -moz-animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
    -o-animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
    animation: ball-triangle-path-ball-two 2s 0s ease-in-out infinite;
}

.la-ball-triangle-path > div:nth-child(3) {
    -webkit-animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
    -moz-animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
    -o-animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
    animation: ball-triangle-path-ball-tree 2s 0s ease-in-out infinite;
}

.la-ball-triangle-path.la-sm {
    width: 16px;
    height: 16px;
}

.la-ball-triangle-path.la-sm > div {
    width: 4px;
    height: 4px;
}

.la-ball-triangle-path.la-2x {
    width: 64px;
    height: 64px;
}

.la-ball-triangle-path.la-2x > div {
    width: 20px;
    height: 20px;
}

.la-ball-triangle-path.la-3x {
    width: 96px;
    height: 96px;
}

.la-ball-triangle-path.la-3x > div {
    width: 30px;
    height: 30px;
}

/*
 * Animations
 */
@-webkit-keyframes ball-triangle-path-ball-one {
    0% {
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@-moz-keyframes ball-triangle-path-ball-one {
    0% {
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@-o-keyframes ball-triangle-path-ball-one {
    0% {
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@keyframes ball-triangle-path-ball-one {
    0% {
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
}

@-webkit-keyframes ball-triangle-path-ball-two {
    0% {
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@-moz-keyframes ball-triangle-path-ball-two {
    0% {
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@-o-keyframes ball-triangle-path-ball-two {
    0% {
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@keyframes ball-triangle-path-ball-two {
    0% {
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
}

@-webkit-keyframes ball-triangle-path-ball-tree {
    0% {
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

@-moz-keyframes ball-triangle-path-ball-tree {
    0% {
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -moz-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -moz-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -moz-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

@-o-keyframes ball-triangle-path-ball-tree {
    0% {
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

@keyframes ball-triangle-path-ball-tree {
    0% {
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
    17% {
        opacity: .25;
    }
    33% {
        opacity: 1;
        -webkit-transform: translate(0, 220%);
        -moz-transform: translate(0, 220%);
        -o-transform: translate(0, 220%);
        transform: translate(0, 220%);
    }
    50% {
        opacity: .25;
    }
    66% {
        opacity: 1;
        -webkit-transform: translate(110%, 0);
        -moz-transform: translate(110%, 0);
        -o-transform: translate(110%, 0);
        transform: translate(110%, 0);
    }
    83% {
        opacity: .25;
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(220%, 220%);
        -moz-transform: translate(220%, 220%);
        -o-transform: translate(220%, 220%);
        transform: translate(220%, 220%);
    }
}

/*------------------------------------------------------------------------------------------*/
/* Responsive Elements */
/*------------------------------------------------------------------------------------------*/

/* =Media Queries for Nav
===============================*/
@media all and (max-width: 1024px) {
    #nav-trigger {
        display: block;
    }

    nav#nav-main {
        display: none;
        background: #e4473c;
    }

    nav#nav-mobile {
        display: block;
    }

    nav#nav-mobile li {
        display: block;
    }

    #header aside {
        display: none;
    }
}

/* Landscape mobile & down
===============================*/
@media (max-width: 480px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px !important;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38 {
        padding-right: 0;
        padding-left: 0;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 15px !important;
    }

    #header.nav-solid [class*="col-"] {
        padding: 0;
    }

    /*Logo*/
    #logo h2 {
        padding: 0;
    }

    /* Social */
    #header aside {
        clear: both;
        padding: 0;
    }

    #header ul.social-icons {
        margin-top: 0;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*-----------------Sections-----------------*/

    /* Call to Action*/
    .call-to-action {
        padding-bottom: 25px;
    }


    /* Footer */
    #landing-footer #copyleft {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
        color: #0000;
    }

    /*-----------------Typography-----------------*/
    h1 {
        font-size: 38px;
    }

    #banner h1 {
        font-size: 48px;
    }

    /* Hide Elements */
    a#scrollUp {
        display: none !important;
    }

}

/* Mobile to Tablet Portrait
===============================*/
@media (min-width: 480px) and (max-width: 767px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }


    .row {
        padding: 15px 0 !important;
    }

    .col-1, .col-2, .col-5, .col-7, .col-9, .col-11, .col-2-3, .col-3-4, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-3, .col-4, .col-6, .col-8, .col-10, .col-12 {
        width: 50%;
    }

    /*-----------------Header Elements-----------------*/
    #header .row {
        padding: 0 !important;
    }

    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    #banner-content.row {
        padding-top: 85px !important;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /*-----------------Sections-----------------*/



    /* Footer */
    #landing-footer #copyleft {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
    }

}

/* Landscape Tablet to Desktop
===============================*/
@media (min-width: 768px) and (max-width: 1024px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }

    /*-----------------Header Elements-----------------*/
    #header aside {
        display: inline-block;
        position: absolute;
        top: 40px;
        right: 60px;
        padding-top:3px;
        padding-right: 5px;
    }

    #header.nav-solid aside {
        top: 20px;
    }

    #header aside ul {
        margin-top: 0 !important;
        padding-top: 6px;
    }

    /*Navigation*/
    nav#nav-mobile ul {
        margin-left: -40px;
        margin-right: -40px;
        padding-left: 20px;
        padding-right: 20px;
    }



}




