/* css style file for index.html*/

@font-face {
  font-family: "OpenSans-Regular";
  src: url("./fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*OpenSans Light*/

@font-face {
  font-family: "OpenSans-Light";
  src: url("./fonts/OpenSans-Light.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Light.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Light.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-LightItalic";
  src: url("./fonts/OpenSans-LightItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-LightItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-LightItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-LightItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-LightItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-LightItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*OpenSans italic */
 
@font-face {
  font-family: "OpenSans-Italic";
  src: url("./fonts/OpenSans-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Italic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/*OpenSans bold */
 
@font-face {
  font-family: "OpenSans-Bold";
  src: url("./fonts/OpenSans-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("./fonts/OpenSans-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("./fonts/OpenSans-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-ExtraBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("./fonts/OpenSans-ExtraBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-ExtraBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-ExtraBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./fonts/OpenSans-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("./fonts/OpenSans-SemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/OpenSans-SemiBoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/OpenSans-SemiBoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/OpenSans-SemiBoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/OpenSans-SemiBoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/OpenSans-SemiBoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/cover1.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/cover2.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/cover3.png");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #000;
  color: #fff;
  padding: 18px;
  font-size: 35px;
  letter-spacing: 10px;
}

.caption span.border2 {
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h2 {
  letter-spacing: 4px;
  text-transform: lowercase ;
  font: 18px "Lato", sans-serif;
  color: #111;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

#landing-footer {
    clear: both;
}

#landing-footer .row {
    padding: 0;
}

#landing-footer p {
    margin: 0;
}

#landing-footer ul {
    list-style: none;
    text-align: right;
}

#landing-footer li {
    display: inline-block;
}

   /* Footer */
#landing-footer #copyleft {
     float: left;
     width: 50%;
}

#landing-footer .social-icons {
    float: right;
    width: 50%;
    color: #0000;
}

#landing-footer, #landing-footer p, #landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size:12px;
    font-weight:normal;
    color:#141414;
}

.social-icons {
  margin: 0;
  padding: 0;
}
.social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  zoom: 1;
}
.social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
}
.social-icons li a i {
  font-size: 20px;
}
.social-icons-profile {
  margin: 0;
  padding: 0;
}
.social-icons-profile li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
}
.social-icons-profile li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
}
.gtco-social-icons-profile li a i {
  font-size: 20px;
}

/* Turn off parallax scrolling for tablets and phones */
@media screen and (max-width: 768px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Change Font Resolutions */
@media screen and (max-width: 768px) {
    p {
        font-size: 12px;
    }
        /* Footer */
    #landing-footer #copyleft {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
        color: #0000;
    }
        /* Footer */
    #landing-footer #copyleft {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
        color: #0000;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    a   {
        font-size: 30px;
  }

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border {
        display:none;
    }

    .big-padding-top {
        padding-top: 45px !important;
    }
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.col-61 {
    width: 61.8%;
}

.col-38 {
    width: 38.2%;
}

.gtco-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.gtco-cover > .gtco-container {
  position: relative;
  z-index: 10;
}



@media (max-width: 480px) {

    #wrapper {
        margin:0;
        padding:0;
    }

    .page-border, #scrollUp, #scrollUp:before {
        display:none;
    }

    .row {
        padding: 15px !important;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38, .row {
        width: 100%;
    }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-2-3, .col-3-4, .col-9-10, .col-61, .col-38 {
        padding-right: 0;
        padding-left: 0;
    }
    /* Footer */
    #landing-footer #copyleft {
        float: left;
        width: 50%;
    }

    #landing-footer .social-icons {
        float: right;
        width: 50%;
        color: #0000;
    }
}